/* Import Custom Bootstrap CSS */

@import url(custom.css);

.input {
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 10em;
}

.favorites_list {
	text-align: center;
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 20em;

}

.favorites_list > ul {
	list-style-type: none;
}

.favorites_list > h2 {
	margin-left: 22px;
	margin-bottom: 10px;
}

.alert-container {
	
}

#first_name {
	color: green;
}

.error {
	visibility: hidden;
}

.new_favorite {
	
	display: block;
	margin-left: 20px;
}

.urlhttp {
	float: right;
}

.container {
	width: 1170px;
}


/*List View Styling*/



























