/* Import Custom Bootstrap CSS */

@import url(custom.css);

.input {
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 10em;
}

.favorites_list {
	text-align: center;
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 20em;

}

.favorites_list > ul {
	list-style-type: none;
}

.alert-container {
	
}

#first_name {
	color: green;
}

.error {
	visibility: hidden;
}